<h1>Login Form</h1>

<%= form_for @user, url: '/users/login'  do |f| %>
  <p>
    <%= f.label :username  %> </br>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password, "Password" %></br>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit "Log in!"%>
  </p>
<% end %>
