<div class="form-section">
  <div class="form-wrapper">
    <h2>Login Form</h2>
    <%= render 'errors' %>
    <%= form_for @user, url: '/users/login'  do |f| %>
    <p>
      <%= f.label :username  %> </br>
      <%= f.text_field :username, class: 'form-textfield' %>
    </p>
    <p>
      <%= f.label :password, "Password" %></br>
      <%= f.password_field :password, class: 'form-textfield' %>
    </p>
    <p>
      <%= f.submit "Log in!", class: 'submit-button'%>
    </p>
    <% end %>
  </div>
</div>