<h1>Registration Form</h1>

<%= form_for @user do |f| %>
  <p>
    <%= f.label :username  %> </br>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password_digest, "Password" %></br>
    <%= f.password_field :password_digest %>
  </p>
  <p>
    <%= f.label :type %> </br>
    <%= select_tag(:type, options_for_select([['Faculty', 1], ['Staff', 2]])) %>
  </p>
  <p>
    <%= f.submit "Register!"%>
  </p>
<% end %>
