<h1> New Proposal</h1>
<%= render :partial => './errors' %>

<%= form_for([@proposal]) do |f|%>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %> <br>
    <%= f.label :summary %>
    <%= f.text_area :summary %> <br>
    <%= f.label :hypothesis %>
    <%= f.text_area :hypothesis%> <br>
  </p>
  <%= f.submit "Create New Proposal" %>
<% end %>
