<h1> <%= @proposal.title %> </h1>

<ul>
  <li>
    Request made by: <%= @proposal.requestor.username %>
  </li>
  <li>
    Summary: <%= @proposal.summary %>
  </li>
  <li>
    Hypothesis: <%= @proposal.hypothesis %>
  </li>
  <li>
    Status: <%= @proposal.status %>
  </li>

  <!-- create helper method? for below -->
  <% if !@proposal.status == "open" %>
  <li>
    Experimentor: <%= @experimentor.username %>
  </li>
  <% end %>

  <% if @proposal.experiment %>
  <li>
    <%= link_to "Experiment", proposal_experiment_path(@proposal, @proposal.experiment) %>
  </li>
  <% else %>
  <li>
    <%= link_to "Create Experiment", new_proposal_experiment_path(@proposal) %>
    </li>
  <% end %>

</ul>
