<h1> <%= @proposal.title %> </h1>

<ul>
  <li>
    Request made by: <%= @proposal.requestor.username %>
  </li>
  <li>
    Summary: <%= @proposal.summary %>
  </li>
  <li>
    Hypothesis: <%= @proposal.hypothesis %>
  </li>
  <li>
    Status: <%= @proposal.status %>
  </li>


  <% if !@proposal.status == "open" %>
  <li>
    Experimentor: <%= @experimentor.username %>
  </li>
  <li>
    <% = link_to @proposal.experiment.name,  %>
  </li>
  <% elsif !@proposal.status == "open" && current_user.role == "staff"  %>
  <li>
    <% = link_to "Create experiment", new_proposal_experiment_path(@proposal) %>
  </li>
  <% end %>

</ul>
